body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 14, 46);
}

.cuboid {
  --width: 200px;
  --height: 200px;
  --depth: 200px;
  height: var(--height);
  width: var(--width);
  /* background-color: hsla(0, 0%, 100%, 0.5); */
  position: relative;
  transform: rotateX(28deg) rotateY(32deg);
  transform-style: preserve-3d;
  animation: rotate 10s linear infinite;
}

.cuboid__side {
  background-color: hsla(0, 0%, 100%, 0.2);
  border: 1px solid hsla(10, 10%, 100%);
  position: absolute;
}

.cuboid__side:nth-of-type(1),
.cuboid__side:nth-of-type(2) {
  --coefficient: 0.5;
  height: var(--height);
  width: var(--width);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
    translate3d(0, 0, calc(var(--depth) * var(--coefficient)));
}
.cuboid__side:nth-of-type(2) {
  --coefficient: -0.5;
}

.cuboid__side:nth-of-type(3),
.cuboid__side:nth-of-type(4) {
  --rotateY: 90deg;
  height: var(--height);
  width: var(--depth);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateY(var(--rotateY))
    translate3d(0, 0, calc(var(--width) * 0.5));
}

.cuboid__side:nth-of-type(4) {
  --rotateY: -90deg;
}

.cuboid__side:nth-of-type(5),
.cuboid__side:nth-of-type(6) {
  --rotateX: -90deg;
  height: var(--depth);
  width: var(--width);
  /* background: red; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateX(var(--rotateX))
    translate3d(0, 0, calc(var(--height) * -0.5));
}

.cuboid__side:nth-of-type(6) {
  --rotateX: 90deg;
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
